.date-picker {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #d1cfcf;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
/* .date-picker:active {
	border-width: 1px;
	border-color: #3747d8;
}
 */
